{% extends 'register.html' %}

{% block title %}
   Online Quiz System - Login
{% endblock %}

{% block body %}
  <div class="main-body-content">

     <div class="container">
     <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">

           <!-- Start form container -->
           <div class="register-form-container">
              <form action="{{url_for('login')}}" method="post" class="register-form">

                 {% if response %}
                     <div class="alert alert-warning">{{ response }} </div>
                 {% endif %}
                 <h3>Login</h3>

                 <div class="form-group">
                    <label name="Email">Email</label>
                    <input type="email" name="email" placeholder="Email" class="form-control" autocomplete="on" required>
                 </div>

                 <div class="form-group">
                    <label name="Password">Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control" minlength="5" autocomplete="off" required>
                 </div>

                 <input type="submit" value="Submit" class="btn btn-primary"> <br><br>
                 <a href="{{url_for('register')}}">Create new account</a> &nbsp;
              </form>
           </div>
           <!-- End form container -->

        </div>
     </div>
  </div>

  </div>
{% endblock %}